$black: #171718;
$black-border: #33383f;
$white: #fff;
$purple: #5C62EC;

$page-bg:$white;

$dark-bg: #252526;
$text-color: $black;
$header-text: $white;
$accent: $purple;


$tablet-bp: 1024px;
$mobile-bp: 620px;


