<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <ul class="social">
                <li class="social__item"><a href="https://vk.com/likeboboshka" target="_blank"><img src="./../../assets/images/socials/vk.svg" alt="VK"></a></li>
                <li class="social__item"><a href="https://instagram.com/damirrakhmatul"><img src="./../../assets/images/socials/insta.svg" alt="INSTA"></a>
                </li>
                <li class="social__item"><a href="https://github.com/boboshechka" target="_blank"><img src="./../../assets/images/socials/github.svg"
                            alt="GITHUB"></a></li>
            </ul>
            <p class="copyright">© 2023 frontend-dev.com</p>
        </div>
    </div>

</footer>