<nav class="nav">
    <div class="container">
        <div class="nav-row">
            <a href="./index.html" class="logo"><strong>Frontend</strong> portfolio</a>

            <button class="dark-mode-btn">
                <img class="dark-mode-btn__icon" src="./../assets/images/theme/sun.svg" alt="Light mode">
                <img class="dark-mode-btn__icon" src="./../assets/images/theme/moon.svg" alt="Dark mode">
            </button>

            <ul class="nav-list">
                <li id="navProjects" class="nav-list__item"><a href="./index.html" class="nav-list__link">Projects</a></li>
                <li id="navSkills" class="nav-list__item"><a href="./skills.html" class="nav-list__link">Skills</a> </li>
                <li id="navContacts" class="nav-list__item"><a href="./contacts.html" class="nav-list__link">Contacts</a></li>
            </ul>
        </div>
    </div>
</nav>
